.top {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 15%;
  right: 0;
  background-color: red;
}

.menu {
  overflow: hidden;
  position: fixed;
  top: -16px;
  bottom: -16px;
  left: 0;
  width: 15%;
  background-color: yellow;
}

.menu a {
  float: left;
}

.content {
  position: fixed;
  top: 28px;
  left: 15%;
  bottom: 0;
  right: 0;
  background-color: green;
}
